*.code-workspace
.vscode

data
config/set_env.developer.php
config/iquest.apache.developer
nodejs/node_modules

pages/js/bootstrap.min.js
pages/js/bootstrap.min.js.map
pages/js/bootstrap-select.min.js
pages/js/bootstrap-select.min.js.map
pages/js/jquery.js
pages/js/jquery.min.js
pages/js/jquery.min.map
pages/js/popper.min.js
pages/js/popper.min.js.map
pages/styles/fonts
pages/styles/styles.css
pages/styles/styles.css.map
pages/phpinfo.php
