*.code-workspace
.vscode

data
config/set_env.developer.php
config/iquest.apache.developer
nodejs/node_modules

pages/js/bootstrap.min.js
pages/js/bootstrap.min.js.map
pages/js/bootstrap-select.min.js
pages/js/bootstrap-select.min.js.map
pages/js/jquery.js
pages/js/jquery.min.js
pages/js/jquery.min.map
pages/js/leaflet.js
pages/js/leaflet.js.map
pages/js/popper.min.js
pages/js/popper.min.js.map
pages/js/tempusdominus-bootstrap-4.js
pages/js/moment-with-locales.js
pages/styles/fonts
pages/styles/images
pages/styles/styles.css
pages/styles/styles.css.map
pages/phpinfo.php
