
.navbar span.logo{
    padding: 8px 20px;
}

.form-inline.well form{
    margin-bottom: 0;
}

.solution_label{
    font-size:16px;
}

.contest-over span{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0
}

.team-name {
    white-space: nowrap;
}

.navbar .navinfo {
    display: block;
    margin: 0 auto;
    width: 300px;
    font-size: 12px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
}

.navbar .navinfo.double {
    line-height: 20px;
}

.navbar-inverse .navinfo {
    color: #DDDDDD;
}


.datatable .filename{
    line-height: 30px;
}

.datatable .link{
    width: 130px;
    text-align: center;
}

.datatable.clue th{
    background-color: #dff0d8;
}

.datatable.hint th{
    background-color: #d9edf7;
}

.datatable.hint tr.new th{
    background-color: #fcf8e3;
}

.datatable.solution th{
    background-color: #f2dede;
}

.table td.new{
    background-color: #fcf8e3;
    line-height: 30px;
    padding: 3px 8px;    
}

span.new,
span.newhint{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
}

span.new{
    background-image: url("../img/nove.png");
}
span.newhint{
    background-image: url("../img/hint.png");
}


.plaintext{
    background-color: transparent;
    border: none;
    display: block;
    line-height: 20px;
    padding: 5px;
    white-space: pre-wrap;
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    word-break: normal;
    word-wrap: normal;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 14px;
}

.datatable td.fileimg{
    text-align: center;
}

.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.form-signin form{
    margin-bottom: 0;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin label{
    padding-right: 1em;
    line-height: 20px;
    font-size:16px;
    margin-bottom: 15px;
}

