
.navbar span.logo{
    padding: 8px 20px;
}

.form-inline.well form{
    margin-bottom: 0;
}

.solution_label{
    font-size:16px;
}

.contest-over span{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0
}

.team-name {
    white-space: nowrap;
}

.navbar .navinfo {
    display: block;
    margin: 0 auto;
    width: 450px;
    font-size: 12px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
}

.navbar .navinfo .navinfo-inner{
    position: absolute;
    margin-left:  100px;
    margin-right: 100px;
    width:        250px;
}

.navbar .navinfo.double {
    line-height: 20px;
}

.navbar-inverse .clock,
.navbar-inverse .wallet,
.navbar-inverse .navinfo {
    color: #DDDDDD;
}

.navbar .clock,
.navbar .wallet {
    line-height: 15px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    padding: 5px 10px
}


/* display correctly tabbed navigation above wells */
.tab-well .nav-tabs{
    border-bottom: 0px;
}
.tab-well .nav{
    margin-bottom: 0px;
}



.datatable .filename{
    line-height: 30px;
}

.datatable .link{
    width: 130px;
    text-align: center;
}

.datatable .buttons{
    width: 44px;
    text-align: center;
}

.datatable.clue th{
    background-color: #dff0d8;
}

.datatable.hint th{
    background-color: #d9edf7;
}

.datatable.hint tr.new th{
    background-color: #fcf8e3;
}

.datatable.solution th{
    background-color: #f2dede;
}

table.clue-list td{
    line-height: 30px;
    padding: 3px 8px;    
}

table.clue-list td.new{
    background-color: #fcf8e3;
}

table.clue-list .btn{
    margin-left:3px;
}


span.new,
span.newhint,
span.coin,
span.finder,
span.questionmark{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    margin: 0 1px;
}

.navbar span.new,
.navbar span.newhint,
.navbar span.coin,
.navbar span.finder,
.navbar span.questionmark{
    margin: 5px;
}

.navbar span.new,
span.new{
    background-image: url("../img/nove.png");
}
.navbar span.newhint,
span.newhint{
    background-image: url("../img/hint.png");
}
.navbar span.coin,
span.coin{
    background-image: url("../img/coin.png");
}
.navbar span.finder,
span.finder{
    background-image: url("../img/finder.png");
}
.navbar span.questionmark,
span.questionmark{
    background-image: url("../img/questionmark.png");
}

span.coin-animated{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/coin-animated.gif");
    margin-bottom: -5px;
    margin-left: 4px;
}



.navbar .new{
    background-color: #fcf8e3;
    background-image: linear-gradient(to bottom, #fcfcf8, #fcf8da);
    background-repeat: repeat-x;
}

.breadcrumb.breadcrumb-btn{
    padding: 0 15px;
}

.breadcrumb.breadcrumb-btn li{
    line-height: 30px;
    padding: 0px 8px;    
}

.breadcrumb.breadcrumb-btn li.no-btn{
    padding: 3px 8px;    
}


.btn input[type="radio"], 
.btn input[type="checkbox"]{
    margin-top: 0px; 
    margin-bottom: 2px; 
}

.plaintext{
    background-color: transparent;
    border: none;
    display: block;
    line-height: 20px;
    padding: 5px;
    white-space: pre-wrap;
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    word-break: normal;
    word-wrap: normal;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 14px;
}

.datatable td.fileimg{
    text-align: center;
}

.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.form-signin form{
    margin-bottom: 0;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin label{
    padding-right: 1em;
    line-height: 20px;
    font-size:16px;
    margin-bottom: 15px;
}

.table.summary th{
    background-color: #F5F5F5;
}

.table.summary td{
    background-color: #F2DEDE;
    color: #B94A48;
    text-align:center;
}

.table.summary td.solved{
    background-color: #DFF0D8;
    color: #468847;
}

.table.summary td.showed,
.table.summary td.scheduled{
    background-color: #fcf8e3;
    color: #c09853;
}

.table.summary td.unused{
    background-color: #E5E5E5;
    color: #ADADAD;
}

.table.summary th.deactivated,
.table.summary th.deactivated a{
    background-color: #FAA732;
    color: #FFFFFF;
}

.table.summary tr.first td{
    border-top: 1px #ADADAD solid;
}

.horizontal-scrollbar{
    overflow-x: auto;
}

div.popover{
    max-width: none;
}

.nowrap{
    white-space:nowrap;
}

.form-search select{
    width: 220px;
}

.form-search #datetimepicker1 input,
.form-search #datetimepicker2 input{
    width: 179px;
}


/* Filter form on events screen */
.filterForm{
    background-color: #F5F5F5;
}


.eventLogDataKey{
}

.eventLogDataValue{
    font-weight: bold;
}

.minimized-hidden{
    display: none !important;
}


.inselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

